numpy~=1.26.4
torch~=2.2.1
librosa~=0.10.1
tqdm~=4.66.2
transformers~=4.35.2
logging~=0.4.9.6
imageio~=2.33.1
moviepy~=1.0.3
ffmpeg
omegaconf~=2.3.0
openai-whisper~=1.1.10
opencv-python~=4.9.0.80
pytube~=15.0.0
requests~=2.31.0
bs4~=0.0.2
beautifulsoup4~=4.12.3
selenium~=4.17.2
python-dotenv~=1.0.1
speech_recognition
SpeechRecognition
colorama~=0.4.6
json
os
cv2
PIL
tqdm
unicodedata
schedule~=1.2.2
random
shutil
string
threading
queue
sys
wave
time
webdriver_manager
ChromeDriverManager
hydra

lxml~=5.1.0
soupsieve~=2.5
h11~=0.14.0
cffi~=1.16.0
typing_extensions~=4.9.0
pillow~=10.2.0
pip~=24.3.1
attrs~=23.2.0
docutils~=0.21.2
Jinja2~=3.1.4
setuptools~=71.1.0
cssselect~=1.2.0
trio~=0.24.0
pyee~=8.2.2
outcome~=1.3.0.post0
sniffio~=1.3.0
exceptiongroup~=1.2.0
sortedcontainers~=2.4.0
idna~=3.6
nose2~=0.14.1
numba~=0.60.0
parse~=1.20.1
w3lib~=2.2.1
certifi~=2024.2.2
proglog~=0.1.10
scipy~=1.14.0
decorator~=4.4.2
pyquery~=2.0.0
urllib3~=1.26.19
service~=0.6.0
pycparser~=2.21
pyppeteer~=1.0.2
appdirs~=1.4.4
websockets~=10.4
packaging~=24.1
filelock~=3.15.4
platformdirs~=4.2.2
zipp~=3.17.0
wsproto~=1.2.0
pytubefix~=8.11.0